body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* nav_bar_design_start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 216, 157);
  }
  
  li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 15px 70px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: tomato;
  }

  .active {
    background-color: #04AA6D;
  }
  /* nav_bar_design_end */



  /* home_part_design_start */

.home_part{
    display: flex;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
}
.child_home_part{
    width:60%;
    margin-left: 120px;
    margin-top: 40px;
 
}

.child_home_part img{
    width: 60%;
    margin-left:100px;
    margin-top: 20px;
}

.child_home_part h1{
    font-size: 50px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 0px;
}
.name{
    color: tomato;
    font-size: 50px;
    font-weight: 650;
}

.button_icons{
    padding: 10px 40px;
    background-color: rgb(252, 112, 87);
    border: 5px rgb(184, 180, 180);
    border-radius: 5px;
}

.button_icons:hover {
    background-color: rgb(252, 41, 4);
    border: 5px rgb(243, 179, 179);
    border-radius: 5px;
}
.button_icons a{
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
}
/* home_part_design_end */

/* work_part_design_start */
.work_part{
    background-image: url(images/dream-bg.png) ,url(images/top-banner.png);
    background-repeat: no-repeat ,no-repeat;
    background-position: right bottom, left top ;
    background-size:  auto , 3000px;
    margin-bottom: 150px;
}
.flexible_contianer{
    display: flex;
    width: 100%;
}
.webCard{
    height: 100%;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 60px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(46, 43, 43);

}

.webCard img{
    width: 100%;
}

.webCard h2{
    text-align: center;
    padding: 20px;
}
.webCard p{
    padding: 10px;
}

/* work_part_design_end */


/* client_part_start */
.client_review{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.client_review h1{
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    text-transform: capitalize;
}

.client{
display: flex;

}

.client_detail{
    width: 50%;
    margin: 30px;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 60px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(46, 43, 43);
}

.client_detail h2{
    text-align: center;
    padding: 20px;

}
.client_detail p{
    padding: 15px;
}

.client_detail img{
    margin-top: 15px;
    height:250px; 
    width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;    
}

/* client_part_end */
